body  {
	width: 1000px;
	margin: 0 auto;
	background: url("../pics/background.png") repeat scroll center center transparent
}

body, table.inputTable, .resultTable {
	font-family: verdana;
	font-size: 11px;
}
	
legend {
	font-weight: bold;
}

a.add, a.del {
	border: 1px solid black;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-size: 0.8em;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #ffffff;
}

a.add {
	color: #009000;;
}

a.del {
	color: #c00000;
}

input.actionBtn {
	width: 140px;
}

input.small_2 {
	width: 30px;
	text-align: center;
}

input.small_4 {
	width: 50px;
	text-align: center;
}

input.small_5 {
	width: 60px;
	text-align: center;
}

button.moveBtn {
	width: 25px;
	height: 25px;
	padding-bottom: 3px;
}

fieldset {
	margin-bottom: 10px;
}

tr.member:hover {
	background-color: #E4E4E4;
}

table.inputTable {
	margin-bottom: 10px;
	margin-top: 10px;
}

table.inputTable td div {
	width: 50px;
	float: left;
}

select {
	width: 200px;
}

div#lastSend, div#history, div#help, div#todo {
	padding: 0px 5px 5px 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 200px;
	border: 1px dotted black;
	background-color: #ffffff;
}

div#history u, div#help u, div#todo u {
	display: block;
	font-weight: bold;
	padding-top: 5px;
}

div#history p, div#help p, div#todo p {
	padding-left: 10px;
	padding-top: 5px;
	margin: 0px;
	text-align: left;
}

div#history p:before {
	content: "- ";
}

#sendDialog select, #sendDialog textarea {
	width: 100%;
}

#sendDialog span.mandatory {
	color: #c00000;
	padding-left: 3px;
	cursor: help;
}

#sendDialog div.completeness {
	float: left;
	clear: both;
	font-style: italic;
	padding-top: 10px;
}

#sendDialog input.completeness {
	float: left;
}

#sendDialog label.completeness {
	padding-left: 5px;
	float: left;
	width: 310px;
}

#resultHTML {
	overflow: scroll;
	width: 100%;
	height: 270px;
	border: 1px dotted black;
	background-color: #ffffff;
}

#resultXML {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 270px;
	min-height: 270px;
	max-height: 270px;
	border: 1px dotted black;
	overflow: scroll;
}